:root {
  --fw-reg: 400;
  --fw-bold: 700;
  --fs-b1: 1.25rem;
  --fs-b2: 1rem;
  --fh-b1: 2.125rem;
  --fh-b2: 1.625rem;

  --color-primary: #fcfaf9;
  --color-secondary: #191826;
  --color-tertiary: #fa7453;

  --btn-ios-active: #66e2dc;
  --btn-android-active: #ffb964;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: var(--fw-reg);
  overflow-x: hidden;
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--color-primary);
  background-image: url(/assets/bg-main-desktop.png);
  background-position: -13.75rem -16.875rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 3.875rem 10.3125rem 5.6875rem;
}

.card-container,
.content,
.btn {
  border-radius: 12px;
}

/*--- HEADER SECTION ---*/

header {
  position: relative;
  width: 100%;
}

h1 {
  font-size: 88px;
  line-height: 88px;
  letter-spacing: -1px;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.25rem;
}

header p {
  font-size: var(--fs-b1);
  line-height: var(--fh-b1);
}

span {
  vertical-align: middle;
}

.logo {
  margin-bottom: 127px;
}

.title-container {
  width: 78%;
}

.title {
  margin-bottom: 40px;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
}

/*--- CONTENT SECTION ---*/

.content {
  background-color: var(--color-secondary);
  margin-top: 321px;
  height: 600px;
  position: relative;
  min-width: 1110px;

  display: flex;
  justify-content: center;
  z-index: 1;
}

.content-img {
  height: 468px;
  position: relative;
  z-index: 1;
  top: -40px;
  right: 4rem;
}

.phone-app {
  position: absolute;
  height: 642px;
  width: 312px;
  left: 102px;
  top: -205px;
  z-index: 2;
}

.card-container {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  width: 446px;
  height: 625px;
  padding: 58px 59px 48px 54px;
  position: absolute;
  top: 90px;
  right: 95px;
  z-index: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container p {
  font-size: var(--fs-b1);
  line-height: var(--fh-b1);
}

.pricing {
  font-size: 65px;
  line-height: 52px;
  font-weight: 700;
  margin-right: 1rem;
}

.card-container p:nth-child(3) {
  font-size: var(--fs-b1);
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -0.2px;
}

.btn {
  padding: 0.7rem;
  border: none;
  color: var(--color-primary);
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ios {
  background-color: var(--color-secondary);
}

.ios:hover {
  background-color: var(--btn-ios-active);
}

.android {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.android:hover {
  background-color: var(--btn-android-active);
}

.ios:active,
.android:active {
  transform: scale(0.9);
}

.ios img,
.android img {
  margin-right: 0.2rem;
  vertical-align: -12%;
}

/*--- FOOTER SECTION ---*/

footer {
  margin-top: 202px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.footer-links li a:hover {
  filter: invert(57%) sepia(41%) saturate(2574%) hue-rotate(328deg)
    brightness(104%) contrast(96%);
}

.footer-text-container p:nth-child(3) a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 700;
}
