:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-accent: hsl(173, 61%, 77%);
  --color-error: #e17457;
  --color-cyan-dark: hsl(183, 100%, 15%);
  --color-cyan-dark-1: hsl(186, 14%, 43%);
  --color-cyan-dark-2: hsl(184, 20%, 64%, 1);
  --color-cyan-light-1: hsl(185, 41%, 84%);
  --color-cyan-light-2: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  background-color: var(--color-cyan-light-1);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-top: 8.8rem;
  margin-bottom: 23.9rem;
  background-color: var(--color-white);
  border-radius: 25px;
  -webkit-box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
          box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
  width: 920px;
  height: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

@media (max-width: 960px) {
  html,
  body {
    min-height: 100%;
  }
  .header__logo {
    margin: 5rem auto 4rem;
  }
  .container {
    width: 375px;
    height: 789px;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .container .card__left {
    width: 100%;
  }
  .container .card__left__bill {
    margin: 3.2rem;
  }
  .container .card__left__tip {
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }
  .container .card__left__people {
    margin: 3.2rem;
  }
  .container .card__right {
    width: 327px;
    height: 257px;
    margin: 2.4rem 3.2rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .container .card__right__tip {
    margin: 3.7rem 2.2rem 2rem 2.4rem;
  }
  .container .card__right__total {
    margin: 0 2.2rem 3.2rem 2.4rem;
  }
  .container .card__right__reset {
    margin: 3.2rem 2.4rem;
  }
  .attribution {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px), (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header__logo {
    margin-top: 5rem;
  }
}

.btn {
  background-color: var(--color-cyan-dark);
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  text-align: center;
  width: 10.7rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn:not(:last-child) {
  margin-right: 1.4rem;
}

.btn:hover:not(.btn-custom) {
  background-color: var(--color-cyan-light-1);
  color: var(--color-cyan-dark);
}

.btn:focus:not(.btn-custom) {
  background-color: var(--color-primary);
  color: var(--color-cyan-dark);
}

.btn-custom {
  background-color: var(--color-cyan-light-2);
  color: var(--color-cyan-dark);
  text-align: right;
  outline: none;
  font-size: 2.2rem;
}

.btn-custom:focus, .btn-custom:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-primary);
}

.card__left {
  width: 50%;
}

.card__left__bill {
  margin: 4.5rem 4.8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card__left__bill-label {
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-cyan-dark-1);
  font-weight: 700;
}

.card__left__bill-dollar {
  margin-left: 1.9rem;
  position: absolute;
  top: 4.7rem;
  left: 0;
}

.card__left__bill-input {
  border: none;
  font-family: inherit;
  background-color: var(--color-cyan-light-2);
  border-radius: 5px;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-cyan-dark);
  padding: 0.6rem 1.7rem;
  outline: none;
}

.card__left__bill-input:focus, .card__left__bill-input:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-primary);
}

.card__left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__left__row:not(:last-child) {
  margin-bottom: 1.6rem;
}

.card__left__tip {
  margin-right: 4.8rem;
  margin-left: 4.8rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__left__tip-label {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-cyan-dark-1);
  font-weight: 700;
}

.card__left__people {
  margin: 4rem 4.8rem 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card__left__people-label {
  margin-bottom: 0.6rem;
  color: var(--color-cyan-dark-1);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__left__people-label .ppl-label {
  visibility: hidden;
}

.card__left__people-label .ppl-label-req {
  color: var(--color-error);
  visibility: visible;
}

.card__left__people-pericon {
  position: absolute;
  margin-left: 1.7rem;
  top: 4.7rem;
}

.card__left__people-input {
  border: none;
  font-family: inherit;
  background-color: var(--color-cyan-light-2);
  border-radius: 5px;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--color-cyan-dark);
  padding: 0.6rem 1.7rem;
  outline: none;
}

.card__left__people-input:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--color-primary);
}

.card__right {
  background-color: var(--color-cyan-dark);
  border-radius: 15px;
  margin: 3.2rem 3.2rem 3.2rem 4.8rem;
  width: 50%;
}

.card__right__tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 4rem 2.5rem 4rem;
}

.card__right__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.card__right__tip-title, .card__right__total-title {
  font-family: inherit;
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.card__right__tip-title p, .card__right__total-title p {
  color: var(--color-cyan-dark-2);
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.9rem;
}

.card__right__tip-amount, .card__right__total-amount {
  font-family: inherit;
  font-size: 4.8rem;
  line-height: 7.1rem;
  text-align: right;
  letter-spacing: -1px;
  color: var(--color-primary);
  font-weight: 700;
}

.card__right__reset {
  margin: 12.2rem 4rem 4rem 4rem;
  padding: 0.9rem 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #0d686d;
  border-radius: 5px;
  color: var(--color-cyan-dark);
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: inherit;
}

.card__right__reset:hover {
  background-color: var(--color-cyan-light-1);
  color: var(--color-cyan-dark);
}

.card__right__reset-btn:link, .card__right__reset-btn:visited {
  display: block;
  text-decoration: none;
  color: var(--color-cyan-dark);
}

.ppl-req {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #e17052;
}
/*# sourceMappingURL=main.css.map */