@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-cyan-dark: hsl(183, 100%, 15%);
  --color-cyan-dark-1: hsl(186, 14%, 43%);
  --color-cyan-dark-2: hsl(184, 14%, 56%);
  --color-cyan-light-1: hsl(185, 41%, 84%);
  --color-cyan-light-2: hsl(189, 41%, 97%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  background-color: var(--color-cyan-light-1);
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  margin-top: 8.8rem;
  margin-bottom: 23.9rem;
  background-color: var(--color-white);
  border-radius: 25px;
  -webkit-box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
          box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
  width: 920px;
  height: 481px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.btn {
  background-color: var(--color-cyan-dark);
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  text-align: center;
  width: 11.7rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 1.4rem;
}

.btn:hover:not(.btn-custom) {
  background-color: #9fe8df;
  color: #00474b;
}

.btn:focus:not(.btn-custom) {
  background-color: #26c2ae;
  color: #00474b;
}

.btn-custom {
  background-color: #f3f9fa;
  color: #547878;
  text-align: right;
  outline: none;
}

.btn-custom:focus, .btn-custom:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #26c2ae;
}

.card__left {
  width: 50%;
}

.card__left__bill {
  margin: 4.5rem 4.8rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card__left__bill-label {
  margin-bottom: 0.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #5e7a7d;
  font-weight: 700;
}

.card__left__bill-dollar {
  margin-left: 1.9rem;
  position: absolute;
  top: 4.7rem;
  left: 0;
}

.card__left__bill-input {
  border: none;
  font-family: inherit;
  background-color: #f3f9fa;
  border-radius: 5px;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 2.4rem;
  color: #00474b;
  padding: 0.6rem 1.7rem;
  outline: none;
}

.card__left__bill-input:focus, .card__left__bill-input:hover {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #26c2ae;
}

.card__left__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__left__row:not(:last-child) {
  margin-bottom: 1.6rem;
}

.card__left__tip {
  margin-right: 4.8rem;
  margin-left: 4.8rem;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__left__tip-label {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: #5e7a7d;
  font-weight: 700;
}

.card__left__people {
  margin: 4rem 4.8rem 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.card__left__people-label {
  margin-bottom: 0.6rem;
  color: #5e7a7d;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.card__left__people-pericon {
  position: absolute;
  margin-left: 1.7rem;
  top: 4.7rem;
}

.card__left__people-input {
  border: none;
  font-family: inherit;
  background-color: #f3f9fa;
  border-radius: 5px;
  width: 100%;
  text-align: right;
  font-weight: 700;
  font-size: 2.4rem;
  color: #00474b;
  padding: 0.6rem 1.7rem;
  outline: none;
}

.card__left__people-input:focus {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #26c2ae;
}

.card__right {
  background-color: var(--color-cyan-dark);
  border-radius: 15px;
  margin: 3.2rem 3.2rem 3.2rem 4.8rem;
  width: 50%;
}

.card__right__tip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4rem 4rem 2.5rem 4rem;
}

.card__right__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
}

.card__right__tip-title, .card__right__total-title {
  font-family: inherit;
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
}

.card__right__tip-title p, .card__right__total-title p {
  font-size: 1.3rem;
  font-weight: 700;
  color: #7f9d9f;
  line-height: 1.9rem;
}

.card__right__tip-amount, .card__right__total-amount {
  font-family: inherit;
  font-size: 4.8rem;
  line-height: 7.1rem;
  text-align: right;
  letter-spacing: -1px;
  color: #26c2ae;
  font-weight: 700;
}

.card__right__reset {
  margin: 12.2rem 4rem 4rem 4rem;
  padding: 0.9rem 4rem;
  text-align: center;
  text-transform: uppercase;
  background-color: #0d686d;
  border-radius: 5px;
  color: #00474b;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: inherit;
}

.card__right__reset:hover {
  background-color: #9fe8df;
  color: #00474b;
}

.card__right__reset-btn:link, .card__right__reset-btn:visited {
  display: block;
  text-decoration: none;
  color: #00474b;
}
/*# sourceMappingURL=main.css.map */