@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --bg-primary: hsl(212, 45%, 89%);
  --gray-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --fs-15: 0.9375rem;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: var(--fs-15);
  min-height: 100vh;
  max-width: 90rem;
  background-color: var(--bg-primary);
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 20rem;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0476518);
}

.qr-code {
  height: auto;
  width: 100%;
  border-radius: 0.625rem;
}

.qr-code-text {
  text-align: center;
  padding: 0 1rem 1rem;
}

.qr-code_heading {
  font-size: 1.375rem;
  font-weight: var(--fw-700);
  margin-bottom: 1rem;
  color: var(--dark-blue);
}

.qr-code_subtext {
  color: var(--gray-blue);
  letter-spacing: 0.1875px;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
  position: absolute;
  bottom: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 420px) {
  body {
    padding: 5.3125rem 1.75rem;
  }
}
