@font-face {
  font-family: "Fraunces";
  src: url("../../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/manrope/Manrope-VariableFont_wght.ttf")
    format("ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-bg: hsl(273, 85%, 13%);
  --secondary-bg: hsl(276, 100%, 99%);
  --main-accent: hsl(150, 100%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray: hsl(271, 12%, 34%);

  --heading-l: 8rem;
  --heading-m: 5.6rem;
  --heading-s: 3.2rem;

  --heading-l-ls: 1rem;
  --heading-m-ls: 1.14rem;
  --heading-s-ls: 1.25rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Manrope, sans-serif;
  font-size: 1.8rem;
  line-height: 1.778;
}

header {
  color: var(--white)
  display: grid;
  place-items: center;
}

.bg-image-left,.bg-image-right {
  display: none;
}

.background-top {
  position: relative;
  z-index: 0;
  background: var(--main-bg);
  clip-path: ellipse(200% 85% at 50% 0);
  padding-bottom: 7.1rem;
}
