:root {
  /* Light Mode */
  #0079FF;
  #697C9A;
  #4B6A9B;
  #2B3442;
  #F6F8FF;
  #FEFEFE;

  /* Dark Mode */
  #FFFFFF
  hsl(220, 40%, 13%)
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  overflow: hidden;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
