:root {
  --color-primary: hsl(172, 67%, 45%);
  --color-accent: hsl(173, 61%, 77%);
  --color-error: #e17457;

  --color-cyan-dark: hsl(183, 100%, 15%);
  --color-cyan-dark-1: hsl(186, 14%, 43%);
  --color-cyan-dark-2: hsl(184, 20%, 64%, 1);
  --color-cyan-light-1: hsl(185, 41%, 84%);
  --color-cyan-light-2: hsl(189, 41%, 97%);

  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
cd . html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  background-color: var(--color-cyan-light-1);
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
