.btn {
  background-color: var(--color-cyan-dark);
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
  color: var(--color-white);
  padding: 0.6rem 1.4rem;
  text-align: center;
  width: 11.7rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 1.4rem;
  }

  &:hover:not(.btn-custom) {
    background-color: #9fe8df;
    color: #00474b;
  }

  &:focus:not(.btn-custom) {
    background-color: #26c2ae;
    color: #00474b;
  }
}

.btn-custom {
  background-color: #f3f9fa;
  color: #00474b;
  text-align: right;
  outline: none;

  &:focus,
  &:hover {
    outline-width: 2px;
    outline-style: solid;
    outline-color: #26c2ae;
  }
}

.card__left {
  width: 50%;

  &__bill {
    margin: 4.5rem 4.8rem 4rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &-label {
      margin-bottom: 0.6rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #5e7a7d;
      font-weight: 700;
    }

    &-dollar {
      margin-left: 1.9rem;
      position: absolute;
      top: 4.7rem;
      left: 0;
    }

    &-input {
      border: none;
      font-family: inherit;
      background-color: #f3f9fa;
      border-radius: 5px;
      width: 100%;
      text-align: right;
      font-weight: 700;
      font-size: 2.4rem;
      color: #00474b;
      padding: 0.6rem 1.7rem;
      outline: none;
    }

    &-input:focus,
    &-input:hover {
      outline-width: 2px;
      outline-style: solid;
      outline-color: #26c2ae;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: 1.6rem;
    }
  }

  &__tip {
    margin-right: 4.8rem;
    margin-left: 4.8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;

    &-label {
      margin-bottom: 1.6rem;
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #5e7a7d;
      font-weight: 700;
    }
  }

  &__people {
    margin: 4rem 4.8rem 4.8rem;
    display: flex;
    flex-direction: column;
    position: relative;

    &-label {
      margin-bottom: 0.6rem;
      color: #5e7a7d;
      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2.4rem;
      display: flex;
      justify-content: space-between;

      .ppl-label {
        visibility: hidden;
      }

      .ppl-label-req {
        color: #e17457;
        visibility: visible;
      }
    }

    &-pericon {
      position: absolute;
      margin-left: 1.7rem;
      top: 4.7rem;
    }

    &-input {
      border: none;
      font-family: inherit;
      background-color: #f3f9fa;
      border-radius: 5px;
      width: 100%;
      text-align: right;
      font-weight: 700;
      font-size: 2.4rem;
      color: #00474b;
      padding: 0.6rem 1.7rem;
      outline: none;
    }

    &-input:focus {
      outline-width: 2px;
      outline-style: solid;
      outline-color: #26c2ae;
    }
  }
}

.card__right {
  background-color: var(--color-cyan-dark);
  border-radius: 15px;
  margin: 3.2rem 3.2rem 3.2rem 4.8rem;
  width: 50%;

  &__tip {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 4rem 2.5rem 4rem;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  &__tip-title,
  &__total-title {
    font-family: inherit;
    color: var(--color-white);
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;

    p {
      font-size: 1.3rem;
      font-weight: 700;
      color: #7f9d9f;
      line-height: 1.9rem;
    }
  }

  &__tip-amount,
  &__total-amount {
    font-family: inherit;
    font-size: 4.8rem;
    line-height: 7.1rem;
    text-align: right;
    letter-spacing: -1px;
    color: #26c2ae;
    font-weight: 700;
  }

  &__reset {
    margin: 12.2rem 4rem 4rem 4rem;
    padding: 0.9rem 4rem;
    text-align: center;
    text-transform: uppercase;
    background-color: #0d686d;
    border-radius: 5px;
    color: #00474b;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 700;
    font-family: inherit;

    &:hover {
      background-color: #9fe8df;
      color: #00474b;
    }

    &-btn:link,
    &-btn:visited {
      display: block;
      text-decoration: none;
      color: #00474b;
    }
  }
}

.ppl-req {
  outline-width: 2px;
  outline-style: solid;
  outline-color: #e17052;
}
