.header {
  margin-top: 16.3rem;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 8.8rem;
  background-color: var(--color-white);
  border-radius: 25px;
  box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
  width: 920px;
  height: 481px;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%);

  display: flex;
}
