.header {
  // margin-top: 16.3rem;
  // display: flex;
  // justify-content: center;
}

.container {
  margin-top: 8.8rem;
  margin-bottom: 23.9rem;
  background-color: var(--color-white);
  border-radius: 25px;
  box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
  width: 920px;
  height: 481px;
  // position: absolute;

  // left: 50%;
  // top: 50%;
  // transform: translate(-50%);

  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}
