.container {
  margin-top: 8.8rem;
  margin-bottom: 23.9rem;
  background-color: var(--color-white);
  border-radius: 25px;
  box-shadow: 0 3.2rem 4.3rem rgba(79, 166, 175, 0.2);
  width: 920px;
  height: 481px;

  display: flex;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

// MEDIA QUERIES //

@media (max-width: 960px) {
  html,
  body {
    min-height: 100%;
  }

  .header__logo {
    margin: 5rem auto 4rem;
  }

  .container {
    width: 375px;
    height: 789px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .card__left {
      width: 100%;

      &__bill {
        margin: 3.2rem;
      }

      &__tip {
        margin-left: 1.8rem;
        margin-right: 1.8rem;
      }

      &__people {
        margin: 3.2rem;
      }
    }

    .card__right {
      width: 327px;
      height: 257px;
      margin: 2.4rem 3.2rem;
      flex: 1;

      &__tip {
        margin: 3.7rem 2.2rem 2rem 2.4rem;
      }

      &__total {
        margin: 0 2.2rem 3.2rem 2.4rem;
      }

      &__reset {
        margin: 3.2rem 2.4rem;
      }
    }
  }
  .attribution {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px),
  (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .header__logo {
    margin-top: 5rem;
  }
}
