:root {
  --gradient-1: hsl(249, 99%, 64%);
  --gradient-2: hsl(278, 94%, 30%);
  --color-error: hsl(0, 100%, 66%);

  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-gray: hsl(270, 3%, 87%);
  --neutral-dark-gray: hsl(279, 6%, 55%);
  --neutral-dark-violet: hsl(278, 68%, 11%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
